
@font-face {
  font-family: 'Intro-Regular';
  src: url('./fonts/intro/Intro-Regular.eot?#iefix') format('embedded-opentype'),
   		 url('./fonts/intro/Intro-Regular.woff') format('woff'), 
   		 url('./fonts/intro/Intro-Regular.ttf')  format('truetype'), 
   		 url('./fonts/intro/Intro-Regular.svg#Intro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
